/*------------------------------------------ОБНУЛЕНИЕ---------------------------------------------- */

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

html,
body {
  height: 100%;
  line-height: 1;
  font-size: 14px;
  font-weight: 500;
  color: #252b42;
  font-family: Montserrat;
  background-color: #fafafa;
}
img {
  vertical-align: top;
}

._ibg {
  position: relative;
}

._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

/*----------------------------------------------CONTAINERS-------------------------------------------*/

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

._container {
  max-width: 1050px;
  padding: 0 15px;
  margin: 0px auto;
  box-sizing: content-box;
}

/*-------------------------------------HEADER-BLOCK-REUSABLE--------------------------------------------*/

.header-block {
  text-align: center;
}

.header-block__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 142%;
  letter-spacing: 0.2px;
}

.header-block__title:not(:last-child) {
  margin: 0px 0px 10px 0px;
}
.header-block__sub-title {
  color: #737373;
  line-height: 143%;
  letter-spacing: 0.2px;
}

@media (max-width: 992px) {
  .header-block__title {
    font-size: 35px;
  }
}

@media (max-width: 479px) {
  .header-block__title {
    font-size: 30px;
  }
}

/*------------------------------------------------HEADER----------------------------------------------*/

.header {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 50;
}

.header__container {
  display: flex;
  min-height: 104px;
  align-items: center;
}

.header__logo {
  font-size: 24px;
  font-weight: 700;
  color: inherit;
  letter-spacing: 0.1px;
}

.header__menu {
  margin: 0px 0px 0px 132px;
}

.menu {
  padding: 5px 0;
}
.menu__list {
  display: flex;
  flex-wrap: wrap;
}

.menu__item:not(:last-child) {
  margin: 0px 21px 0px 0px;
}

.menu__link {
  font-weight: 600;
  color: #737373;
  line-height: 171%;
  letter-spacing: 0.2px;
}

.menu__link:hover {
  text-decoration: underline;
}

@media (max-width: 992px) {
  .header__menu {
    margin: 0px 0px 0px 80px;
  }
}

@media (max-width: 767px) {
  .header__menu {
    margin: 0px 0px 0px 40px;
  }
}

@media (max-width: 479px) {
  .header__container {
    min-height: 70px;
  }
  .header__menu {
    margin: 0px 0px 0px 20px;
  }
  .menu__link {
    font-size: 18px;
    color: #272626;
  }
}

/*------------------------------------------------MAIN------------------------------------------------*/

.main {
  flex: 1 1 auto;
}

.main-block {
  position: relative;
}

.main-block__body {
  padding: 184px 0px 191px 0px;
  position: relative;
  z-index: 2;
  max-width: 400px;
}

.main-block__body > *:not(:last-child) {
  margin: 0px 0px 35px 0px;
}

.main-block__title {
  font-weight: 800;
  font-size: 58px;
  line-height: 138%;
  letter-spacing: 0.2px;
}

.main-block__text {
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0.2px;
  font-weight: 500;
  color: #737373;
}

.main-block__buttons {
  display: inline-flex;
  flex-wrap: wrap;
  gap: 10px;
}

.main-block__button {
  border-radius: 37px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 36px;
  min-height: 48px;
  letter-spacing: 0.2px;
  font-weight: 700;
  line-height: 200%;
  transition: all 0.3s ease 0s;
}

.main-block__button_orange {
  background: #ff7b47;
  color: #ffffff;
}

.main-block__button_orange:hover {
  background-color: #fff;
  color: #ff7b47;
}

.main-block__button_border {
  color: #0d5c63;
  border: 1px solid #0d5c63;
}

.main-block__button_border:hover {
  background-color: #0d5c63;
  color: #fff;
}

.main-block__image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

@media (max-width: 1300px) {
  .main-block__image img {
    object-position: right;
  }
}

@media (max-width: 992px) {
  .main-block__body {
    padding: 120px 0px 191px 0px;
  }
  .main-block__image img {
    opacity: 0.5;
  }
}

@media (max-width: 479px) {
  .main-block__body {
    padding: 120px 0px 160px 0px;
  }
  .main-block__title {
    font-size: 42px;
  }
  .main-block__text {
    color: #272626;
  }
  .main-block__button {
    flex: 1 1 auto;
  }
}

/*----------------------------------------------SERVICES------------------------------------------------*/

.page__services {
  position: relative;
  margin: -111px 0px 0px 0px;
  z-index: 2;
}

.services__column {
  flex: 0 1 33.333%;
}

.body__item {
  height: 100%;
  padding: 35px 40px;
  background-color: #ffffff;
  box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
}

.item-service > *:not(:last-child) {
  margin-bottom: 10px;
}

.item-service_green {
  background: #0d5c63;
}

.item-service_green .item-service__title {
  color: #ffffff;
}

.item-service_green .item-service__text {
  color: #ffffff;
}

.item-service__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 133%;
  letter-spacing: 0.1px;
}

.item-service__text {
  font-weight: 500;
  line-height: 143%;
  letter-spacing: 0.2px;
  color: #737373;
}

@media (max-width: 992px) {
  .services__column {
    flex: 0 1 50%;
  }
  .services__column:not(:last-child) {
    margin: 0px 0px 30px 0px;
  }
  .services__column:last-child {
    flex: 1 1 100%;
  }
  .body__item {
    padding: 25px 30px;
  }
}

@media (min-width: 670px) {
  .services__body {
    display: flex;
    flex-wrap: wrap;
    margin: 0px -15px -30px;
  }
  .services__column {
    padding: 0px 15px;
  }
}

/*----------------------------------------------ADVANTAGES------------------------------------------------*/

.advantages {
  padding: 100px 0 125px 0px;
}

.advantages__header {
  margin: 0px 0px 50px 0px;
}

.advantages__body {
  display: flex;
  flex-wrap: wrap;
  margin: 0px -15px -30px;
}

.advantages__column {
  padding: 0px 15px;
  margin: 0px 0px 30px 0px;
  flex: 0 1 25%;
}

.advantages__item {
  background-color: #ffffff;
  padding: 30px;
  font-weight: 700;
  text-align: center;
}

.advantages__item > *:not(:last-child) {
  margin: 0px 0px 10px 0px;
}

.advantages__icon {
  height: 48px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.advantages__value {
  font-size: 40px;
  line-height: 142%;
  letter-spacing: 0.2px;
}

.advantages__text {
  font-size: 16px;
  line-height: 150%;
  color: #737373;
}

@media (max-width: 1000px) {
  .advantages__column {
    flex: 0 1 50%;
  }
}

@media (max-width: 992px) {
  .advantages {
    padding: 75px 0px 40px 0px;
  }
}

@media (max-width: 560px) {
  .advantages__column {
    flex: 0 1 100%;
  }
}

@media (max-width: 479px) {
  .advantages {
    padding: 30px 0px;
  }
  .advantages__header {
    margin: 0px 0px 30px 0px;
  }
}

/*----------------------------------------------PRACTICE------------------------------------------------*/

.page__practice {
  padding-bottom: 80px;
}

.practice__header {
  margin: 0px 0px 45px 0px;
}

.practice__body {
  margin: 0px -20px -30px;
  display: flex;
  flex-wrap: wrap;
}

.practice__column {
  margin: 0px 0px 30px 0px;
  padding: 0px 20px;
  flex: 0 1 25%;
}

.item-practice {
  height: 100%;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
}

.item-practice__content {
  padding: 30px;
  flex: 1 1 auto;
}

.item-practice__link {
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.1px;
  color: inherit;
}

.item-practice__link:hover {
  text-decoration: underline;
}

.item-practice__title {
  margin: 0px 0px 15px 0px;
}

.item-practice__text {
  font-weight: 500;
  font-size: 14px;
  line-height: 143%;
  letter-spacing: 0.2px;
  color: #737373;
}

.item-practice__image {
  display: block;
  padding: 0px 0px 60% 0px;
}

@media (max-width: 1040px) {
  .practice__column {
    flex: 0 1 50%;
  }
}

@media (max-width: 950px) {
  .page__practice {
    padding-bottom: 40px;
  }
}

@media (max-width: 630px) {
  .practice__column {
    flex: 0 1 100%;
  }
}

@media (max-width: 479px) {
  .practice__header {
    margin: 0px 0px 30px 0px;
  }
}

/* -----------------------WHOWEARE---------------------------------------- */

.page__whoweare {
  background: #ffffff;
}

.whoweare {
  padding: 101px 0px 136px 0px;
}

.whoweare__header {
  margin: 0px 0px 100px 0px;
}

.whoweare__body {
  display: flex;
  align-items: flex-start;
}

.whoweare__video {
  flex: 0 0 57%;
  position: relative;
  padding: 0px 0px 32.25% 0px;
}

.whoweare__video iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

.whoweare__content {
  padding: 20px 0px 0px 121px;
  flex: 1 1 auto;
}

.whoweare__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 142%;
  letter-spacing: 0.2px;
}

.whoweare__title:not(:last-child) {
  margin: 0px 0px 10px 0px;
}

.whoweare__text {
  line-height: 143%;
  letter-spacing: 0.2px;
  color: #737373;
}

.whoweare__items {
  margin: 50px 0px 0px 0px;
}

.item-whoweare {
  display: flex;
}

.item-whoweare:not(:last-child) {
  margin-bottom: 30px;
}

.item-whoweare__icon {
  flex: 0 0 32px;
}

.item-whoweare__body {
  flex: 1 1 auto;
  padding: 0px 0px 0px 20px;
}

.item-whoweare__title {
  font-weight: 700;
  font-size: 16px;
  line-height: 156%;
  letter-spacing: 0.1px;
}

.item-whoweare__text {
  font-weight: 600;
  line-height: 171%;
  letter-spacing: 0.2px;
  color: #737373;
}

@media (max-width: 1080px) {
  .whoweare__content {
    padding: 0px 0px 0px 60px;
    flex: 1 1 auto;
  }
  .whoweare__title {
    font-size: 25px;
  }
}

@media (max-width: 950px) {
  .whoweare {
    padding: 40px 0px 65px 0px;
  }
  .whoweare__header {
    margin: 0px 0px 50px 0px;
  }
  .whoweare__body {
    flex-direction: column-reverse;
    align-items: stretch;
  }
  .whoweare__content {
    padding: 0;
    text-align: center;
  }
  .item-whoweare {
    justify-content: center;
  }
  .item-whoweare__body {
    flex: 0 1 auto;
    padding: 0px 0px 0px 20px;
  }
  .whoweare__video {
    margin-top: 50px;
    padding: 0px 10px 50.25% 10px;
  }
}

@media (max-width: 479px) {
  .whoweare {
    padding: 40px 0px 30px 0px;
  }
}

@media (max-width: 400px) {
  .item-whoweare__body {
    flex: 0 1 auto;
    padding: 0px 0px 0px 10px;
  }
}

/* --------------------------------------------CUSTOMERS--------------------------------------------- */

.customers {
  padding: 50px 0px;
}

.customers__items {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.customers__item {
  padding: 6.63px 15px;
  flex: 0 1 16.6667%;
  text-align: center;
  min-width: 140px;
}

.customers__item img {
  max-width: 100%;
}

@media (max-width: 950px) {
  .customers {
    padding: 30px 0px;
  }
}

/*----------------------------------------------SUBSCRIBE------------------------------------------------*/

.subscribe {
  position: relative;
  padding: 0px 0px 20px 0px;
}

.subscribe__body {
  position: relative;
  z-index: 2;
  align-items: center;
  padding: 30px 50px;
  background: #17213c;
  border-radius: 2px;
}

.subscribe__title {
  flex: 0 1 50%;
  font-weight: 700;
  font-size: 24px;
  line-height: 133%;
  letter-spacing: 0.1px;
  color: #ffffff;
}

.subscribe__form {
  flex: 0 1 50%;
  display: flex;
  align-items: center;
}

.subscribe__input {
  flex: 1 1 auto;
  min-height: 58px;
  background: #f9f9f9;
  border: 1px solid #e6e6e6;
  border-radius: 5px 0px 0px 5px;
  padding: 15px 22.5px;
  box-sizing: border-box;
  font-weight: 400;
  line-height: 200%;
  letter-spacing: 0.2px;
  color: #737373;
  border-right: 0;
}

.subscribe__input:focus {
  color: #000;
}

.subscribe__button {
  border: 1px solid #e6e6e6;
  border-radius: 0px 5px 5px 0px;
  padding: 15px 22.5px;
  font-weight: 400;
  line-height: 200%;
  text-align: center;
  letter-spacing: 0.2px;
  color: #ffffff;
  background: #ff7b47;
}

.subscribe__button:hover {
  cursor: pointer;
  background-color: #d36c43;
}

@media (min-width: 1070px) {
  .subscribe__body {
    margin: 0px 32px;
  }
}

@media (min-width: 750px) {
  .subscribe__body {
    display: flex;
    justify-content: space-between;
  }
  .subscribe::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 77px;
    background-color: #252b42;
  }
  .subscribe__title {
    flex: 0 1 50%;
    max-width: 266px;
  }
  .subscribe__form {
    flex: 0 1 50%;
  }
}

@media (max-width: 750px) {
  .subscribe {
    position: relative;
    padding: 0;
  }
  .subscribe__title {
    margin: 0px 0px 20px 0px;
  }
  .subscribe__body {
    margin: 0px -16px;
    padding: 20px 25px;
  }
}

@media (max-width: 360px) {
  .subscribe__input {
    padding: 15px 12px;
  }
  .subscribe__button {
    padding: 15px 12px;
  }
}

/*----------------------------------------------GETINTOUCH------------------------------------------------*/

.getintouch {
  padding: 80px 0px 135px 0px;
  background-color: #f3f3f3;
}

.getintouch__header {
  margin-bottom: 80px;
}

.getintouch__items {
  margin: 0px -15px;
}

@media (min-width: 992px) {
  .getintouch__items {
    margin: 0;
    display: flex;
    align-items: center;
  }
}

@media (max-width: 992px) {
  .getintouch {
    padding: 40px 0px 40px 0px;
    background-color: #f3f3f3;
  }
  .getintouch__header {
    margin-bottom: 40px;
  }
}

.item-getintouch {
  flex: 0 1 33.333%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  padding: 50px 15px;
}

.item-getintouch_active {
  background-color: #252b42;
  color: #fff;
  padding: 80px 15px;
}

.item-getintouch > *:not(:last-child) {
  margin: 0px 0px 15px 0px;
}

.item-getintouch__emails {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.item-getintouch__email {
  font-weight: 600;
  line-height: 171%;
  text-align: center;
  letter-spacing: 0.2px;
  color: inherit;
}

.item-getintouch__email:hover {
  text-decoration: underline;
}

.item-getintouch__label {
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.1px;
  color: inherit;
}

.item-getintouch__button {
  min-height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  border: 1px solid #ff7b47;
  border-radius: 5px;
  font-weight: 600;
  line-height: 171%;
  letter-spacing: 0.2px;
  text-align: center;
  color: #ff7b47;
  transition: all 0.3s ease 0s;
}

.item-getintouch_active .item-getintouch__button {
  border: 1px solid #fff;
  color: #fff;
}

.item-getintouch__button:hover {
  background-color: #ff7b47;
  color: #fff;
}

.item-getintouch_active .item-getintouch__button:hover {
  background-color: #fff;
  color: #252b42;
}

/*----------------------------------------------CONTACT------------------------------------------------*/

.contact {
  background: #fafafa;
  padding: 40px;
}

.contact__content {
  padding-bottom: 20px;
}

@media (min-width: 767px) {
  .contact__body {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .contact__content {
    padding-right: 20px;
  }
}

.contact__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 133%;
  letter-spacing: 0.1px;
  color: inherit;
  margin-bottom: 10px;
}

.contact__text {
  line-height: 143%;
  letter-spacing: 0.2px;
  color: #737373;
}

.contact__button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #ff7b47;
  border-radius: 5px;
  padding: 15px 40px;
  color: #ffffff;
  font-weight: 700;
  line-height: 200%;
  transition: all 0.3s ease 0s;
  letter-spacing: 0.2px;
  min-height: 58px;
}

.contact__button:hover {
  background-color: #d36c43;
}

/*----------------------------------------------FOOTER------------------------------------------------*/

.footer__top {
  padding: 30px 0px;
  background: #17213c;
}

.footer__row {
  display: flex;
  flex-wrap: wrap;
  margin: 0px -15px;
}

.footer__column {
  padding: 20px 15px;
  flex: 0 1 16.667%;
}

.footer__column:last-child {
  flex: 0 1 33.334%;
}

@media (max-width: 900px) {
  .footer__column {
    flex: 0 1 25%;
  }

  .footer__column:last-child {
    flex: 0 1 100%;
  }
}

@media (max-width: 710px) {
  .footer__top {
    padding: 10px 0px;
  }
  .footer__column {
    flex: 0 1 50%;
  }
  .footer__column:last-child {
    flex: 0 1 100%;
  }
}

.footer__label {
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 156%;
  letter-spacing: 0.1px;
  margin-bottom: 20px;
}

.menu-footer__item:not(:last-child) {
  margin-bottom: 10px;
}

.menu-footer__link {
  font-weight: 600;
  line-height: 171%;
  letter-spacing: 0.2px;
  color: #ffffff;
}

.menu-footer__link:hover {
  text-decoration: underline;
}

.contacts-footer {
  display: flex;
  flex-direction: column;
}

.contacts-footer__item {
  padding: 0px 0px 0px 34px;
  display: flex;
  align-items: center;
  min-height: 30px;
  line-height: 142%;
  color: #ffffff;
}

.contacts-footer__item:hover {
  text-decoration: underline;
}

.contacts-footer__item:not(:last-child) {
  margin-bottom: 10px;
}

.contacts-footer__item_phone {
  background: url('../img/footer/icons/01.svg') 0 0 no-repeat;
}

.contacts-footer__item_address {
  background: url('../img/footer/icons/02.svg') 0 0 no-repeat;
}

.contacts-footer__item_email {
  background: url('../img/footer/icons/03.svg') 0 0 no-repeat;
}

.footer__bottom {
  padding: 25px 0px;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 767px) {
  .footer__container {
    flex-direction: column;
  }
  .footer__copyright {
    margin-bottom: 15px;
    text-align: center;
  }
}

.footer__copyright {
  font-weight: 600;
  line-height: 171%;
  letter-spacing: 0.2px;
  color: #737373;
}

.socials {
  display: flex;
  align-items: center;
}

.socials__item:not(:last-child) {
  margin-right: 20px;
}
